@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}



body{
    background-color: white;
    color: #222;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
    @media (max-width:1300px) {

        
        Footer {
            width: 1300px;
        }

    


        main {
            width: 70%;
            margin-left: 10%;
        }

        main .item {
            width: 40%;
        }

        .nav {
            margin-left: 8%;
        }
    }

    @media (max-width:1040px) {

        main {
            width: 50%;
            margin-left: 10%;
        }

        main p,b {
            width: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding-left: 10%;
            padding-top: 10%;
        }

        main .item {
            width: 40%;
        }

        .nav {
            margin-left: 8%;
        }
    }

    @media (max-width:780px) {

        

        main {
            width: 50%;
            margin-left: 10%;
            display: flex;
            justify-content: center;
        }

        main p,b {
            width: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding-left: 10%;
            padding-top: 10%;
        }

        main .item {
            width: 60%;
        }

        .nav {
            margin-left: 18%;
        }

        Footer {
            
            display: flex;
            right: 10%;

        }

    }
}


.wrapper{
    width: 1280px;
    margin: 50px auto;
}

header .logo {
    font-weight: 600;
    font-size: 20px;
}

header a {
    float: right;
    list-style: none;
    text-decoration: none;
    align-items: center;
    
}

.main_header {
    font-weight: 600;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.main_picture {
    align-items: center;
    margin-bottom: 5%;
    width: 1200px;
    height: 720px;
}

.main_text {
    width: 1200px;
    font-weight: 600;
    font-size: 32px;
    color: #505050;
}


header a{
    display: inline;
    margin-left: 25px;
    cursor: pointer;
    transition: opacity 500ms ease;
}

.header {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}

header a:hover{
    opacity: 0.5;
}


main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

main .item {
    width: 30%;
    margin-bottom: 50px;
    height: max-content;
    background: #e2e2e2;
    overflow: hidden;
    position: relative;
    padding-bottom: 20px;
    border-radius: 10px 10px 10px 10px;
}

main .item img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    transition: transform 500ms ease;
}

main .item img:hover {
    transform: scale(1.05);
}

main h2, 
main p, 
main b {
    margin: 10px 20px;
    color: #333;
    transition: ease 500ms;
}

main b {
    color: #5fa36a
}

main .add-to-cart {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #ca5252;
    width: 45px;
    height: 35px;
    text-align: center;
    color: white;
    cursor: pointer;
    font-weight: 600;
    transition: ease 500ms;
}

main .add-to-cart:hover {
    transform: scale(1.5) translateY(-5px);
    
}

footer{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    align-items: end;
}

.popup{
    margin-left: 50%;
    margin-top:50%;
    transform:translate(-50%,-50%);
    border:solid 1px #CCCCCC;
    box-shadow:none;
    background-color:#ccc;
    width: 300px;
    height: 190px; 
    transition: ease 50ms;
    border-radius: 20px;
}

.hidden {
    display: none;
}




